@import './styles/_clouds.scss';
@import './styles/_trees.scss';

html {
    --worldRotation: 0deg;
    --worldSize: 100%;
    --worldTop: -15%;
    box-sizing:border-box;
    height:100%;
}

* {
    box-sizing:border-box;
}

.buttons {
    position:fixed;
    top:5px;
    right:5px;
    z-index:100;
}
.zoom {

}

body {
    margin:0;
    position:relative;
    height:auto;
    min-height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#fff;
    overflow:hidden;
    background:linear-gradient(to bottom, #3d4d79 0%,  #20202c 100%);
}

.viewport {
    height:100%;
    width:100vw;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
}

.world {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, var(--worldTop)) scale(var(--worldSize));
    height:400vh;
    width:400vh;
    transition:transform 5s ease-in-out;
    will-change:transform;
    animation-name:fadeIn;
    animation-duration:3s;
    animation-iteration-count: 1;

    &.zoomed-out {
        --worldSize: 25%;
        --worldTop: -50%;
    }

    &.moving {
        .box {
            animation-name:backgroundMovement;
        }
    }
}

.sky {
    position:absolute;
    width:125%;
    height:125%;
    top:-12.5%;
    left:-12.5%;
    z-index:0;
    border-radius:50%;
    overflow:hidden;

    .box {
        &:before, &:after {
            content: '';
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            transition:opacity 5s linear;
            z-index:-2;
        }

        &:before {
            opacity:1;
            background:linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
        }

        &:after {
            opacity:0;
            background:linear-gradient(to bottom, #3d4d79 0%,  #20202c 100%);
        }
    }

    &.night {
        .box {
            &:before {
                opacity:0;
            }

            &:after {
                opacity:1;
            }
        }

        .sun {
            background:white;
            box-shadow:0 0 15px white;
        }
    }

    .box {
        animation-duration:180s;
    }
}

.background {
    position:absolute;
    width:55%;
    height:55%;
    top:22.5%;
    left:22.5%;
    z-index:10;

    .box {
        animation-duration:120s;
    }
}

.ground {
    position:absolute;
    height:50%;
    width:50%;
    top:25%;
    left:25%;
    border-radius:50%;
    z-index:20;

    .box {
        animation-duration:75s;
    }
}

.foreground {
    position:absolute;
    height:38%;
    width:38%;
    top:31%;
    left:31%;
    border-radius:50%;
    z-index:30;

    .box {
        animation-duration:75s;
    }
}

#character {
    position:relative;
    top:-24%;
    z-index:5;
}

#character > .character {
    width:20%;
}

button {
    user-select: none;
    height:50px;
    width:150px;
    background:#e4e4e4;
    border:none;
    outline:none;
    border-radius:5px;
    margin:0 5px;
    cursor:pointer;
    transition:all .2s ease-in-out;
    touch-action: manipulation;
}

button:hover {
    background-color: #b4b4b4;
}

.box {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border-radius:50%;
    animation-duration:45s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    //animation-play-state: paused;
    transform-origin:center;
    z-index:1;
}

.ground .box, .background .box {
    .bg {
        content: url(https://res.cloudinary.com/dloxgdltu/image/upload/v1628763792/animation/ground_ym1qvi.svg);
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        max-width:100%;
        max-height:100%;
        z-index:-5;
        //filter: drop-shadow(0 0 4px rgba(0,0,0,.8));
    }
}

//.prop {
//    filter:drop-shadow(0 0 2px rgba(0,0,0,.8));
//}

.sun {
    height:8%;
    width:8%;
    background:yellow;
    border-radius:50%;
    position:absolute;
    top:80%;
    left:34%;
    z-index:-1;
    box-shadow:0 0 15px yellow;
    transition:background 5s linear, box-shadow 5s linear;
}

.house {
    position:absolute;
    height:auto;
    content: url('https://res.cloudinary.com/dloxgdltu/image/upload/v1628766930/animation/house-curved_ecstc8.svg');
    width:42%;
    top: 42%;
    left: -34%;
    transform:rotate(-101deg);
    z-index:-1;
}

body .character .shadow {
    display:none;
}

@keyframes backgroundMovement {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(-360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


