html {
    box-sizing:border-box;
    height:100%;
}

* {
    box-sizing:border-box;
}

body {
    margin:0;
    background-color:#242424;
    padding-top:75px;
    position:relative;
    height:auto;
    min-height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#fff;
}

header {
    min-height:200px;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
}

.social_links {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.social_link:last-child {
    margin-right:0;
}

.social_link {
    display:flex;
    align-items:center;
    flex-direction:row;
    transition:opacity .1s ease-in-out;
    line-height:20px;
    color:#fff;
    margin-right:20px;
    margin-bottom:10px;
}

.social_link:hover:not(:focus) {
    opacity:.75;
}

header a {
    color:#fff;
    vertical-align:baseline;
}

header a svg {
    width:25px;
    height:25px;
    margin-right:10px;
    text-decoration:none;
    fill:#fff;
}

section {
    padding:15px;
    max-width:100%;
    width:640px;
    /*margin:0 auto;*/
    text-align:left;
    z-index:10;
    color:#fff;
}

i {
    font-size:24px;
    color:#fff;
    transition: opacity .2s ease-in-out;
}

h1 {
    margin:0 0 0 -7px;
    font-weight:700;
    font-size:64px;
    line-height:1em;
    letter-spacing:-3px;
    z-index:10;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
}

p.subheading {
    margin:0 0 20px;
    font-weight:700;
    font-size:20px;
    z-index:10;
}
p.caption {
    margin:0;
    font-weight:300;
    font-size:16px;
    z-index:10;
}

h2 {
    margin:0 0 15px;
}

p, ul {
    font-size:16px;
    font-weight:300;
    z-index:10;
    margin:0 0 15px;
    line-height:1.5em;
    text-align:left;
}

hr {
    z-index:10;
}

.box_relative {
    position:relative;
    display:inline-block;
    min-height:300px;
    width:100%;
    max-width:100%;
}

img {
    max-width:100%;
    margin:0 auto;
}

.container {
    max-width:100%;
    width:1200px;
    margin:0 auto;
    z-index:2;
}

.skills_list {
    margin:0 0 15px;
    padding:0;
    list-style-type:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:stretch;
}

.skills_list li {
    display:flex;
    flex-direction:column;
    flex:1 1 auto;
    justify-content:center;
    align-items:center;
    padding:5px;
    margin:5px;
    border:1px solid #fff;
    line-height:2.25em;
    font-size:18px;
}

.skills_list li.highlight {
    background-color:#4d4d4d;
    font-weight:700;
}

.client_logo {
    max-width:90%;
    margin-bottom:15px;
}

.container.right section h1 {
    text-align:right;
}

.container.right section {
    margin:0 0 0 auto;
}

.background_polygon {
    position:absolute;
    top:-50px;
    left:0;
    bottom:0;
    right:0;
    transform:skewY(-4deg) scaleY(1.5);
    overflow:hidden;
}

.background_polygon.reverse {
    transform:skewY(4deg) rotateY(180deg) scaleY(1.5);
    top:0;
    bottom:-50px;
}

.background_polygon .child_polygon {
    z-index:11;
    animation-timing-function: cubic-bezier(0.42, 1, 0.58, 3);
    /*animation-timing-function: linear;*/
    animation-iteration-count: infinite;
    animation-duration: 45s;
}

.background_polygon.reverse .child_polygon {
    will-change:transform;
    animation-delay:-45s;
}

.background_polygon .child_polygon:nth-child(1) {
    transform:scale(1.5, .7) translate(0, 0) rotate(75deg);
    filter:brightness(95%);
    animation-name: polygonOne;
    z-index:1;
}

.background_polygon .child_polygon:nth-child(2) {
    transform:scale(1.33, 1.2) translate(30%, 20%) rotate(40deg);
    filter:brightness(85%);
    animation-name: polygonTwo;
    z-index:2;
}

.background_polygon .child_polygon:nth-child(3) {
    transform:scale(1.2, 1.8) translate(-20%, -20%) rotate(-15deg);
    filter:brightness(65%);
    animation-name: polygonThree;
    z-index:3;
}

.background_polygon .child_polygon:nth-child(4) {
    transform:scale(1.5, .8) translate(35%, 30%) rotate(-85deg);
    filter:brightness(75%);
    animation-name: polygonFour;
    z-index:4;
}

.background_polygon .child_polygon:nth-child(5) {
    transform:scale(1.6, 0.7) translate(-35%, -10%) rotate(75deg);
    filter:brightness(85%);
    animation-name: polygonFive;
    z-index:5;
}

@keyframes polygonOne {
    0% {
        transform:scale(1.5, .7) translate(0, 0) rotate(75deg);
    }

    25% {
        transform:scale(1.5, .7) translate(2%, 1%) rotate(74deg);
    }

    50% {
        transform:scale(1.5, .7) translate(2%, 2%) rotate(70deg);
    }

    75% {
        transform:scale(1.5, .7) translate(2%, 1%) rotate(74deg);
    }

    100% {
        transform:scale(1.5, .7) translate(0, 0) rotate(75deg);
    }
}

@keyframes polygonTwo {
    0% {
        transform:scale(1.33, 1.2) translate(30%, 20%) rotate(40deg);
    }

    25% {
        transform:scale(1.33, 1.2) translate(31%, 21%) rotate(45deg);
    }

    50% {
        transform:scale(1.33, 1.2) translate(32%, 21%) rotate(50deg);
    }

    75% {
        transform:scale(1.33, 1.2) translate(31%, 21%) rotate(45deg);
    }

    100% {
        transform:scale(1.33, 1.2) translate(30%, 20%) rotate(40deg);
    }
}

@keyframes polygonThree {
    0% {
        transform:scale(1.2, 1.8) translate(-20%, -20%) rotate(-15deg);
    }

    25% {
        transform:scale(1.2, 1.8) translate(-21%, -22%) rotate(-20deg);
    }

    50% {
        transform:scale(1.2, 1.8) translate(-22%, -22%) rotate(-22deg);
    }

    75% {
        transform:scale(1.2, 1.8) translate(-21%, -22%) rotate(-20deg);
    }

    100% {
        transform:scale(1.2, 1.8) translate(-20%, -20%) rotate(-15deg);
    }
}

@keyframes polygonFour {
    0% {
        transform:scale(1.5, .8) translate(35%, 30%) rotate(-85deg);
    }

    25% {
        transform:scale(1.5, .8) translate(31%, 30%) rotate(-85deg);
    }

    50% {
        transform:scale(1.5, .8) translate(33%, 32%) rotate(-85deg);
    }

    75% {
        transform:scale(1.5, .8) translate(31%, 30%) rotate(-85deg);
    }

    100% {
        transform:scale(1.5, .8) translate(35%, 30%) rotate(-85deg);
    }
}

@keyframes polygonFive {
    0% {
        transform:scale(1.6, 0.7) translate(-35%, -10%) rotate(75deg);
    }

    25% {
        transform:scale(1.6, 0.7) translate(-36%, -11%) rotate(75deg);
    }

    50% {
        transform:scale(1.6, 0.7) translate(-36%, -13%) rotate(75deg);
    }

    75% {
        transform:scale(1.6, 0.7) translate(-36%, -11%) rotate(75deg);
    }

    100% {
        transform:scale(1.6, 0.7) translate(-35%, -10%) rotate(75deg);
    }
}

.purple_polygon {
    box-shadow:0 0 2px #330099;
}
.purple_polygon, .purple_polygon > .child_polygon {
    background-color:#330099;
    z-index:1;
}

.green_polygon {
    box-shadow:0 0 2px #009966;
}
.green_polygon, .green_polygon > .child_polygon {
    background-color:#009966;
    z-index:1;
}

.orange_polygon {
    box-shadow:0 0 2px #cc6600;
}
.orange_polygon, .orange_polygon > .child_polygon {
    background-color:#cc6600;
    z-index:1;
}

.card, .avatar {
    background-color:#2d2d2d;
    box-shadow:0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    border-radius:2px;
    margin:0 auto;
    text-align:center;
    position:relative;
    z-index:20;
}

.card {
    border-radius:5px;
}

.avatar {
    border-radius:50%;
    height:200px;
    width:200px;
    padding:5px;
    background-color:#2d2d2d;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.card p:last-child, .card ul:last-child {
    margin-bottom:0;
}

.card p a {
    color:#fff;
    transition: opacity .2s ease-in-out;
    cursor:pointer;
}
.card p a:hover {
    opacity:.8;
}

.project_logo {
    max-width:240px;
}

.pad {
    padding:15px;
}

.color_mode_button {
    position:fixed;
    top:10px;
    right:10px;
    height:45px;
    width:45px;
    z-index:30;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.8);
    outline:none;
    border:none;
    padding:0;
    border-radius:50%;
    background:#2d2d2d;
}

button {
    cursor:pointer;
}

button svg {
    pointer-events:none;
    fill:#fff;
}

body.light_mode button svg {
    fill:#010101;
}

body.light_mode {
    color:#010101;
    background-color:#e4e4e4;
}

body.light_mode .client_logo {
    filter:invert(100%);
}

body.light_mode .card,
body.light_mode button,
body.light_mode .avatar {
    color:#010101;
    background-color:#efefef;
}

body.light_mode p,
body.light_mode ul {
    color:#010101;
}

body.light_mode a:not(.social_link) {
    color:#0000EE;
}

body.light_mode .skills_list li {
    border-color:#010101;
}

body.light_mode .skills_list li.highlight {
    background-color:#cecece;
    font-weight:700;
}

body.light_mode .image_list li {
    border-color:#efefef;
}

.image-slide-wrap {
    position:relative;
    height:0;
    padding-bottom:56.25%;
}

[data-image-slide] {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    visibility:hidden;
    transform:scale(0);
    transition:opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;
}

[data-image-slide].active {
    opacity:1;
    visibility:visible;
    transform:scale(1);
}

.image_list {
    list-style-type:none;
    margin:0 -5px 0 -5px;
    padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.image_list li {
    border:5px solid #2d2d2d;
    cursor:pointer;
    transition:opacity .2s ease-in-out;
    display:flex;
    flex-direction:column;
    flex:0 0 33.33%;
    overflow:hidden;
    border-radius:8px;
}

.image_list li img {
    transform:scale(1);
    transition:transform .2s ease-in-out;
    pointer-events:none;
}

.image_list li:hover img {
    transform:scale(1.25);
}

.image_dialog {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:100;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:30px;
    display:none;
    transition:opacity .2s ease-in-out;
    transform:translateX(0);
}

.image_dialog.active {
    display:flex;
    animation-name:dialogFadeIn;
    animation-iteration-count:1;
    animation-duration:.4s;
}

@keyframes dialogFadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

.dialog_background {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:101;
    background:rgba(0,0,0,.6);
}

.dialog_foreground {
    background-color:#2d2d2d;
    box-shadow:0 2px 4px rgba(0,0,0,.8);
    position:relative;
    display:inline-block;
    z-index:102;
    width:100%;
}

.dialog_button {
    position:fixed;
    height:45px;
    width:45px;
    border-radius:50%;
    font-size:32px;
    background-color:#2d2d2d;
    color:#fff;
    border:none;
    outline:none;
    box-shadow:0 2px 4px rgba(0,0,0,.8);
    margin-top:-25px;
    font-family: 'Montserrat', sans-serif;
    transition:transform .1s;
    transform:scale(1);
    z-index:10;
}

.dialog_button:active, .color_mode_button:active {
    transform:scale(0.9);
}

.close_dialog, .tablet_button, .mobile_button, .desktop_button {
    top:10px;
    right:10px;
    margin-top:0;
    font-size:24px;
    line-height:24px;
}

.close_dialog {
    right:10px;
}

.desktop .desktop_button,
.tablet .tablet_button,
.mobile .mobile_button {
    filter:invert(100%);
}

.desktop_button {
    right:60px;
}

.tablet_button {
    right: 110px;
}

.mobile_button {
    right: 160px;
}
.previous_image {
    top:50%;
    left:-20px;
    position:absolute;
}
.next_image {
    top:50%;
    right:-20px;
    position:absolute;
}

.image_slide {
    animation-duration:.6s;
    animation-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1.0);
    animation-iteration-count: 1;
    max-height:100%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    z-index:2;
    opacity:1;
}

.image_slide:before {
    content: 'Loading....';
    position:absolute;
    top:50%;
    left:50%;
    font-size:20px;
    color:#fff;
    z-index:1;
}

.image_slide img {
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
    position:fixed;
    display:inline-block;
    height:auto;
    width:auto;
    z-index:2;
}

.image_slide.active {
    z-index:2;
    opacity:1;
}

.enter_right {
    animation-name:enterRight;
}
.exit_right {
    animation-name:exitRight;
}
.enter_left {
    animation-name:enterLeft;
}
.exit_left {
    animation-name:exitLeft;
}

@keyframes enterRight {
    from {
        opacity:0;
        transform:translateX(-100%);
    }

    to {
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes exitRight {
    from {
        opacity:1;
        transform:translateX(0);
    }

    to {
        opacity:0;
        transform:translateX(100%);
    }
}

@keyframes enterLeft {
    from {
        opacity:0;
        transform:translateX(100%);
    }

    to {
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes exitLeft {
    from {
        opacity:1;
        transform:translateX(0);
    }

    to {
        opacity:0;
        transform:translateX(-100%);
    }
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size:72px;
    }

    .show_mobile_only {
        display:none;
    }

    .image_list li {
        flex:0 0 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .show_mobile_only {
        display:none;
    }

    .image_list li {
        flex:0 0 20%;
    }
}

@media only screen and (min-width: 1920px) {
    .dialog_foreground {
        max-width:1920px;
    }
}

