html {
    box-sizing:border-box;
    height:100%;
}

* {
    box-sizing:border-box;
}

body {
    margin:0;
    background-color:#242424;
    position:relative;
    height:auto;
    min-height:100%;
    color:#fff;
}

header {
    min-height:300px;
    color:#fff;
    /*background-color:#330099;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
}

header a {
    text-decoration:none;
}

section {
    padding:30px;
    max-width:100%;
    width:640px;
    margin:0 auto;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    z-index:10;
    color:#fff;
}

i {
    font-size:24px;
    color:#fff;
    transition: opacity .2s ease-in-out;
}

i:hover:not(:focus) {
    opacity:.75;
}

h1 {
    margin:0 0 0 -7px;
    font-weight:700;
    font-size:64px;
    line-height:1em;
    letter-spacing:-3px;
    z-index:10;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
}
h6 {
    margin:0 0 20px;
    font-weight:300;
    font-size:16px;
    z-index:10;
}

p {
    font-size:16px;
    margin:0;
    font-weight:300;
    z-index:10;
}

hr {
    z-index:10;
}

.box_relative {
    position:relative;
    display:inline-block;
    min-height:300px;
    width:100%;
    max-width:100%;
}

img {
    max-width:100%;
    margin:0 auto;
}

.background_polygon {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transform:skewY(-4deg) scaleY(1.5);
    overflow:hidden;
}

.background_polygon.reverse {
    transform:skewY(4deg) rotateY(180deg) scaleY(1.5);
}

.background_polygon .child_polygon {
    z-index:11;
}

.background_polygon.reverse .child_polygon {
    will-change:transform;
    animation-delay:6s;
}

.background_polygon .child_polygon:nth-child(1) {
    transform:scale(.33, .2) translate(-100%, 200%);
    filter:brightness(95%);
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: polygonOne;
}

.background_polygon .child_polygon:nth-child(2) {
    transform:scale(.33, .2) translate(100%, 200%);
    filter:brightness(85%);
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: polygonTwo;
}

.background_polygon .child_polygon:nth-child(3) {
    transform:scale(.2) translate(-200%, -200%);
    filter:brightness(65%);
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: polygonThree;
}

.background_polygon .child_polygon:nth-child(4) {
    transform:scale(.2) translate(-100%, -200%);
    filter:brightness(75%);
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: polygonFour;
}

.background_polygon .child_polygon:nth-child(5) {
    transform:scale(.2) translate(0, -200%);
    filter:brightness(85%);
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: polygonFive;
}

@keyframes polygonOne {
    0% {
        transform:scale(.33, .2) translate(-100%, 200%);
    }

    50% {
        transform:scale(0.35) translate(-10%, 10%) rotate(285deg);
    }

    100% {
        transform:scale(.33, .2) translate(-100%, 200%);
    }
}

@keyframes polygonTwo {
    0% {
        transform:scale(.33, .2) translate(100%, 200%);
    }

    50% {
        transform:scale(1.55) translate(50%, -40%) rotate(-125deg);
    }

    100% {
        transform:scale(.33, .2) translate(100%, 200%);
    }
}

@keyframes polygonThree {
    0% {
        transform:scale(.2) translate(-200%, -200%);
    }

    50% {
        transform:scale(1.3) translate(-30%, 10%) rotate(85deg);

    }

    100% {
        transform:scale(.2) translate(-200%, -200%);
    }
}

@keyframes polygonFour {
    0% {
        transform:scale(.2) translate(-100%, -200%);
    }

    50% {
        transform:scale(1.25) translate(30%, -10%) rotate(-25deg);
    }

    100% {
        transform:scale(.2) translate(-100%, -200%);
    }
}

@keyframes polygonFive {
    0% {
        transform:scale(.2) translate(0, -200%);
    }

    50% {
        transform:scale(.85) translate(50%, -30%) rotate(60deg);
    }

    100% {
        transform:scale(.2) translate(0, -200%);
    }
}

.purple_polygon, .purple_polygon > .child_polygon {
    background-color:#330099;
    z-index:1;
}

.green_polygon, .green_polygon > .child_polygon {
    background-color:#009966;
    z-index:1;
}

.orange_polygon, .orange_polygon > .child_polygon {
    background-color:#cc6600;
    z-index:1;
}

.card {
    background-color:#2d2d2d;
    box-shadow:0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    border-radius:2px;
    margin:0 auto;
    text-align:center;
    position:relative;
    z-index:20;
}

.card p {
    line-height:1.5em;
    /*margin-bottom:15px;*/
    text-align:left;
}

.card p a {
    color:#fff;
    transition: opacity .2s ease-in-out;
    cursor:pointer;
}
.card p a:hover {
    opacity:.8;
}

.project_logo {
    max-width:240px;
}

.pad {
    padding:15px;
}

.image-slide-wrap {
    position:relative;
    height:0;
    padding-bottom:56.25%;
}

[data-image-slide] {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    visibility:hidden;
    transform:scale(0);
    transition:opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;
}

[data-image-slide].active {
    opacity:1;
    visibility:visible;
    transform:scale(1);
}

.image-list {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
}

.image-list li {
    padding:0 5px;
    cursor:pointer;
    transition:opacity .2s ease-in-out;
}

.image-list li.selected {
    opacity:.2;
}

.image-list li img {
    pointer-events:none;
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size:72px;
    }

    .show_mobile_only {
        display:none;
    }
}

