html {
  --cloudWidth: 10vh;
  --cloudTop: 0;
  --cloudLeft: 0;
  --cloudRotation: 0deg;
}

$b-clouds: (
  (10%, 20%, 75%, 45deg),
  (11%, 79%, 28%, 220deg),
  (12%, 40%, 85%, 85deg),
  (8%, 19%, 45%, -9deg),
  (9%, 70%, 50%, -185deg),
  (10%, 75%, 75%, 150deg),
  (10%, 35%, 5%, -72deg),
  (10%, 25%, 20%, -55deg),
  (12%, 61%, 23%, -125deg),
  (8%, 5%, 60%, 23deg),
);

$clouds: (
  (10%, 15%, 85%, 45deg),
  (15%, 85%, 15%, 220deg),
  (12%, 85%, 85%, 140deg),
  (8%, 53%, 92%, 100deg),
  (20%, 95%, 50%, -185deg),
  (10%, -10%, 20%, -20deg),
  (10%, 25%, -30%, -72deg),
  (30%, 15%, -3%, -55deg),
  (16%, 57%, -21%, -100deg),
  (25%, -25%, 71%, 30deg),
);

.cloud, .b-cloud {
  position:absolute;
  height:auto;
  content: url('https://res.cloudinary.com/dloxgdltu/image/upload/v1628401467/animation/stylized_basic_cloud_netgx6.svg');
  width:var(--cloudWidth);
  top: var(--cloudTop);
  left: var(--cloudLeft);
  transform:rotate(var(--cloudRotation));
}

.cloud {
  $i: 1;
  @each $cloud in $clouds {
    &:nth-of-type(#{$i}) {
      --cloudWidth: #{nth($cloud, 1)};
      --cloudTop: #{nth($cloud, 2)};
      --cloudLeft: #{nth($cloud, 3)};
      --cloudRotation: #{nth($cloud, 4)};
    }
    $i: $i + 1;
  }
}

.b-cloud {
  $i: 1;
  @each $cloud in $b-clouds {
    &:nth-of-type(#{$i}) {
      --cloudWidth: #{nth($cloud, 1)};
      --cloudTop: #{nth($cloud, 2)};
      --cloudLeft: #{nth($cloud, 3)};
      --cloudRotation: #{nth($cloud, 4)};
    }
    $i: $i + 1;
  }
}
